NOTEBOOK 3:

# DATA STRUCTURES:

In [298]:
# Data Structures are fundamentals of any programming language around which a program is built.

# Data Structures are a way of organizing data so that it can be accessed more efficiently

### LIST:

In [299]:
# A data structure that helps to store and manipulates an ordered collection of items.

# [] - this square bracket used to identify the list.

In [300]:
thislist = ["apple", "banana", "cherry"]

In [301]:
# List items are ordered, changeable, and allow duplicate values

# item 0 = apple
# item 1 = banana
# item 2 = cherry

# List items are indexed, the first item has index [0], the second item has index [1] etc.

# Negative indexing means start from the end
# -1 refers to the last item, -2 refers to the second last item etc.

In [302]:
# When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

# If you add new items to a list, the new items will be placed at the end of the list.

In [303]:
# The list is mutable, meaning that we can change, add, and remove items in a list after it has been created.

## Access the list items:

In [304]:
# List allows duplicate values

In [305]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [306]:
# To determine how many items a list has, use the len() function.

In [307]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(thislist))

5

In [308]:
# access the part of the list by slicing
# The search will start at index 2 (included) and end at index 5 (not included).

In [309]:
x= ['cat', 'dog', 'rabbit', 'cow', 'goat']
x[2:5]

['rabbit', 'cow', 'goat']

In [310]:
# Omit the first value of the slice which implies the value of 0.

In [311]:
x[:2]

['cat', 'dog']

In [312]:
# Omit the last value of the slice which implies the len(list)

In [313]:
x[3:]

['cow', 'goat']

In [314]:
type(x)

list

In [315]:
# It is also possible to use the list() constructor when creating a new list.

In [316]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [317]:
# To determine if a specified item is present in a list use the in keyword.

In [318]:
if "dog" in x:
    print('yes, item dog is in this list x')

yes, item dog is in this list x

## Change the list items:

In [319]:
# To change the value of a specific item, refer to the index number.

In [320]:
y = [ 'car', 'bike', 'van' ]
y[2] = 'cycle'

y

['car', 'bike', 'cycle']

In [321]:
# To change the value of items within a specific range, define a list with the new values
# and refer to the range of index numbers where you want to insert the new values.

In [322]:
# The length of the list will change when the number of items inserted does not match the number of items replaced.

In [323]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Add list items:

In [324]:
# To add an item to the end of the list, use the append() method.

In [325]:
z = ['pen', 'pencil', 'scale']
z.append('eraser')
z

['pen', 'pencil', 'scale', 'eraser']

In [326]:
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.

# The insert() method inserts an item at the specified index

In [327]:
z.insert(2, 'sharpner')
z

['pen', 'pencil', 'sharpner', 'scale', 'eraser']

In [328]:
# To append elements from another list to the current list, use the extend() method.
# The elements will be added to the end of the list.
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)

In [329]:
y.extend(x)
y

['car', 'bike', 'cycle', 'cat', 'dog', 'rabbit', 'cow', 'goat']

## Remove the list items:

In [330]:
# The remove() method removes the specified item.

In [331]:
x

['cat', 'dog', 'rabbit', 'cow', 'goat']

In [332]:
x.remove('rabbit')
x

['cat', 'dog', 'cow', 'goat']

In [333]:
# If there are more than one item with the specified value, the remove() method removes the first occurrence.

In [334]:
new = ['happy', 'sad', 'moody', 'fear', 'happy']
new.remove('happy')
new

['sad', 'moody', 'fear', 'happy']

In [335]:
# The pop() method removes the specified index.

In [336]:
new.pop(1)
new

['sad', 'fear', 'happy']

In [337]:
# If you do not specify the index, the pop() method removes the last item.

In [338]:
new.pop()
new

['sad', 'fear']

In [339]:
# The del keyword also removes the specified index.

# The del keyword can also delete the list completely.

In [340]:
thislist

['apple', 'watermelon']

In [341]:
del thislist[0]
thislist

['watermelon']

In [342]:
del thislist

In [343]:
thislist  # it will get error, because the 'thislist' list is already deleted

NameError: name 'thislist' is not defined

In [344]:
# The clear() method empties the list.

# The list still remains, but it has no content.

In [345]:
print(z)
z.clear()
z

['pen', 'pencil', 'sharpner', 'scale', 'eraser']

[]

## Loops in List:

In [346]:
# You can loop through the list items by using a for loop.

In [347]:
tastes = ['Sweet', 'Salty', 'Sour', 'Bitter', 'Pungent', 'Astringent']
for item in tastes:
    print (item)

Sweet
Salty
Sour
Bitter
Pungent
Astringent

In [348]:
# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

In [349]:
for item in range (len(tastes)):
    print (tastes[item])

Sweet
Salty
Sour
Bitter
Pungent
Astringent

In [350]:
# You can loop through the list items by using the while loop.

# Use the len() function to determine the length of the list, then start at 0 
# and loop your way through the list items by referring to their indexes.

In [351]:
i = 0
while i < (len(tastes)):
    print(tastes[i])
    i = i + 1         # Remember to increase the index by 1 after each iteration.

Sweet
Salty
Sour
Bitter
Pungent
Astringent

## List Comprehension:

In [352]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [353]:
tastes

['Sweet', 'Salty', 'Sour', 'Bitter', 'Pungent', 'Astringent']

In [354]:
print(tastes)
newlist = []              # initiate a new empty list

for i in tastes:
    if "g" in i:
        newlist.append(i)

print(newlist)

['Sweet', 'Salty', 'Sour', 'Bitter', 'Pungent', 'Astringent']
['Pungent', 'Astringent']

In [355]:
# With list comprehension you can do all that with only one line of code.

# The return value is a new list, leaving the old list unchanged.
# The condition is optional and can be omitted

In [356]:
newlist = [ i for i in tastes if "g" in i]         # newlist = [expression for item in iterable if condition == True]
print(newlist)

['Pungent', 'Astringent']

In [357]:
# Set the values in the new list to upper case

In [358]:
newlist = [ i.upper() for i in tastes]
newlist

['SWEET', 'SALTY', 'SOUR', 'BITTER', 'PUNGENT', 'ASTRINGENT']

In [359]:
# You can set the outcome to whatever you like

newlist = [' Taste'  for i in tastes]
newlist

[' Taste', ' Taste', ' Taste', ' Taste', ' Taste', ' Taste']

## Sort List:

In [360]:
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [361]:
tastes.sort()
tastes

['Astringent', 'Bitter', 'Pungent', 'Salty', 'Sour', 'Sweet']

In [362]:
# To sort descending, use the keyword argument reverse = True

In [363]:
tastes.sort(reverse = True)
tastes

['Sweet', 'Sour', 'Salty', 'Pungent', 'Bitter', 'Astringent']

In [364]:
# You can also customize your own function by using the keyword argument key = function.
# The function will return a number that will be used to sort the list (the lowest number first)

In [365]:
def myfunc(n):
  return abs(n - 50)             # abs() function returns the absolute value of the specified function

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [366]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [367]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [368]:
# if you want a case-insensitive sort function, use str.lower as a key function

In [369]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [370]:
# The reverse() method reverses the current sorting order of the elements

In [371]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [372]:
# The count() method returns the number of elements with the specified value

In [373]:
x = thislist.count('Kiwi')
x

1

## Copy List:

In [374]:
# Make a copy of a list with the copy() method.

In [375]:
print(tastes)
tastes_1 =  tastes.copy()
tastes_1

['Sweet', 'Sour', 'Salty', 'Pungent', 'Bitter', 'Astringent']

['Sweet', 'Sour', 'Salty', 'Pungent', 'Bitter', 'Astringent']

In [376]:
# Another way to make a copy is to use the built-in method list().

In [377]:
tastes_2 = list(tastes)
tastes_2

['Sweet', 'Sour', 'Salty', 'Pungent', 'Bitter', 'Astringent']

## Join List:

In [378]:
# There are several ways to join, or concatenate, two or more lists in Python.

# Addition & Multiplication - Possible
# Subtraction & Division - Not Possible

# One of the easiest ways are by using the + operator.

In [379]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [380]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one.

In [381]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [382]:
# you can use the extend() method, where the purpose is to add elements from one list to another list

In [383]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### TUPLE:

In [384]:
# A tuple is a collection which is ordered and unchangeable(immutable).
# Tuples are an immutable sequence that can contain elements of any data type.
# Tuples are written with round brackets
# tuple() - this function that transforms input into tuples

In [385]:
family = ('father', 'mother', 'son', 'daughter')
print (type(family))

<class 'tuple'>

In [386]:
# Tuple items are ordered, unchangeable, and allow duplicate values.

# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [387]:
# ordered - When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# unchangeable - Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [388]:
# To determine how many items a tuple has, use the len() function.

In [389]:
print (len(family))

4

In [390]:
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [391]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [392]:
# Tuple items can be of any data type.
# A tuple can contain different data types

## Access Tuple items:

In [393]:
# You can access tuple items by referring to the index number, inside square brackets.

In [394]:
print(family)

('father', 'mother', 'son', 'daughter')

In [395]:
print(family[2])

son

In [396]:
# Negative indexing means start from the end.

# -1 refers to the last item, -2 refers to the second last item etc.

In [397]:
print (family[-3])

mother

In [398]:
# Positive index:

# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new tuple with the specified items.

# Negative index:

# Specify negative indexes if you want to start the search from the end of the tuple

In [399]:
# To determine if a specified item is present in a tuple use the in keyword

In [400]:
if "father" in family:
    print ("yes, the item 'father' is in the tuple family")

yes, the item 'father' is in the tuple family

## Update Tuples:

In [401]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [402]:
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [403]:
print(family)

family_1 = list(family)
family_1[3] = "grand father"
family = tuple(family_1)

print (family)

('father', 'mother', 'son', 'daughter')
('father', 'mother', 'son', 'grand father')

## Add Tuple items:

In [404]:
# To add some items in tuples, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [405]:
# Add tuple to a tuple: You are allowed to add tuples to tuples, so if you want to add one item, (or many),
# create a new tuple with the item(s), and add it to the existing tuple.

In [406]:
print(family)

x = ('daughter',)
family += x

print(family)

('father', 'mother', 'son', 'grand father')
('father', 'mother', 'son', 'grand father', 'daughter')

## Remove Tuple items:

In [407]:
# You cannot remove items in a tuple. To remove some items in tuples, you can convert it into a list, remove the item(s), 
# and convert it back into a tuple.

In [408]:
# you can delete the tuple completely

In [409]:
print(family)
del family
print (family)   # #this will raise an error because the tuple no longer exists

('father', 'mother', 'son', 'grand father', 'daughter')

NameError: name 'family' is not defined

## Unpack the Tuple:

In [410]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple

In [411]:
# In Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [412]:
# The number of variables must match the number of values in the tuple, 
# if not, you must use an asterisk to collect the remaining values as a list.

In [413]:
print(new)

(one, two) = new

print(one)
print(two)

['sad', 'fear']
sad
fear

In [414]:
# If the number of variables is less than the number of values, 
# you can add an * to the variable name and the values will be assigned to the variable as a list

In [415]:
new = ('happy', 'sad', 'sorrow', 'anger', 'moody')
(one, two, *three) = new

print(one)
print(two)
print(three)

happy
sad
['sorrow', 'anger', 'moody']

In [416]:
# If the asterisk is added to another variable name than the last,
# Python will assign values to the variable until the number of values left matches the number of variables left.

## Loops in Tuples:

In [417]:
# You can loop through the tuple items by using a for loop.

In [418]:
for i in new:
    print(i)

happy
sad
sorrow
anger
moody

In [419]:
# You can also loop through the tuple items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

In [420]:
for i in range(len(new)):
    print(new[i])

happy
sad
sorrow
anger
moody

In [421]:
# You can loop through the tuple items by using a while loop.

In [422]:
i = 0
while i < (len(new)):
    print(new[i])
    i = i+1

happy
sad
sorrow
anger
moody

## Join Tuples:

In [423]:
# To join two or more tuples you can use the + operator

In [424]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [425]:
# If you want to multiply the content of a tuple a given number of times, you can use the * operator

In [426]:
print(new)
newTuple = new * 2

print(newTuple)

('happy', 'sad', 'sorrow', 'anger', 'moody')
('happy', 'sad', 'sorrow', 'anger', 'moody', 'happy', 'sad', 'sorrow', 'anger', 'moody')